[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "theme/static/js/micro-slideshow"]
	path = theme/static/js/micro-slideshow
	url = git@github.com:axolx/micro-slideshow.git
