<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>

        {% block head %}
        <meta charset="utf-8" />
        <title>{{ SITENAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="{{AUTHOR}}">
        {% endblock head %}

        {% assets filters="less,cssmin", output="css/main.min.css", "css/main.less" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ SITEURL }}theme/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ SITEURL }}theme/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ SITEURL }}theme/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ SITEURL }}theme/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body data-spy="scroll" data-target='#main-nav'>

        <img id="logo" alt="{{ SITENAME }}" src="{{ SITEURL }}/theme/img/OMBU_logo.png">

        <div id="main-nav" class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="row-fluid">
                    <div class="span10 offset2">
                        <ul class="nav">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#work">Work</a></li>
                            <li><a href="#skill">Skills</a></li>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#contact">Contact</a></li>
                            {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- /.span10 -->
                </div>
            </div>
        </div> <!-- /#menu -->

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div><!--/.fluid-container-->

        {% block js %}
        <script
            src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        {% assets filters="rjsmin", output="js/packed.js",
            "js/bootstrap-tab.js", "js/bootstrap-carousel.js",
            "js/bootstrap-transition.js",
            "js/bootstrap-scrollspy.js",  "js/ombusite.js" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% endblock %}

    </body>
</html>
