<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{{ SITENAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="{{AUTHOR}}">
        {% endblock head %}

        <!-- Le styles -->

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ SITEURL }}theme/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ SITEURL }}theme/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ SITEURL }}theme/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ SITEURL }}theme/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="row-fluid">
                    <div class="span2">
                        <img width="170px" alt="{{ SITENAME }}" class="logo" src="{{ SITEURL }}/theme/img/OMBU_logo.png">
                    </div>
                    <div class="span10">
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="#home">Home</a></li>
                                <li><a href="#work">Our Work</a></li>
                                <li><a href="#skill">Our Skills</a></li>
                                <li><a href="#team">Our Team</a></li>
                                <li><a href="#contact">Contact Us</a></li>
                                {% for title, link in MENUITEMS %}
                                <li><a href="{{ link }}">{{ title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!-- /.span10 -->
                </div>
            </div>
        </div>
        <nav id="menu"><ul>
        </ul></nav><!-- /#menu -->

        <div class="container-fluid">
        {% block content %}{% endblock %}
        </div><!--/.fluid-container-->

        {% block js %}
        <script src="{{ SITEURL }}/theme/js/jquery-1.7.2.min.js"></script>
        <script>
            jQuery(document).ready(function($) {
                $(".nav a").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
                });
            });
        </script>
        {% endblock %}

    </body>
</html>
