<div id="contact" class="row-fluid pane">
    <div class="row-fluid">
        <div class="span7 address offset2">

            <h1>Contact</h1>

            <div class="row-fluid">

            <div class="span6" itemscope itemtype="http://data-vocabulary.org/Organization">
                <h2 itemprop="name">OMBU HQ</h2>
                <address itemprop="address" itemscope
                    itemtype="http://data-vocabulary.org/Address">
                    <span itemprop="street-address">107 SE Washington St #136</span><br>
                    <span itemprop="locality">Portland,</span> <span itemprop="region">OR</span> 97214</span>
                    <br><br>
                    <a itemprop="tel" class="btn" href="#">(503)
                        298-4888</a><br>
                    <a class="btn" href="#">Directions »</a>
                </address>
            </div><!-- /.span6 -->

            <div class="span5 offset1">
                <h2>Business Inquiries</h2>
                <p itemscope itemtype="http://data-vocabulary.org/Person">
                    Please contact 
                    <span itemprop="name">Martin Rio</span>, 
                    <span itemprop="title">Principal</span> at 
                    <span itemprop="affiliation">OMBU</span>.
                    <br><br>
                    <a class="btn" href="mailto:martin@ombuweb.com">martin@ombuweb.com</a>
                </p>
            </div><!-- /.span6 -->

            </div><!-- /.row-fluid -->

            <img class="map" src="{{ 'theme/img/map.png' | cdn }}">

        </div>
    </div>
</div>
