<div id="skill" class="pane">

    <div class="row-fluid">

        <div class="offset2 span10">
            <div class="hero-unit">
                <h1>Services</h1>
                <p class="lead">We bring in technical chops, a lean and rigorous process,
                    and commitment to schedules and budgets to <strong>make
                        projects happen</strong>.</p>
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href="#strategy">Technical Planning</a></li>
                    <li><a data-toggle="tab" href="#applications">Sites &amp; Applications</a></li>
                    <li><a data-toggle="tab" href="#cms">CMS</a></li>
                    <li><a data-toggle="tab" href="#cloud">Cloud Infrastructure</a></li>
                </ul>
            </div>
        </div>

    </div><!-- /.row-fluid -->

    <div class="row-fluid ">

        <div id="strategy" class="tab skill active">

            <div class="span5 offset2">

                <p class="lead">The smartest decisions often happen at the
                drawing board. Our experience developing, launching, and
                evolving platforms helps clients make the right decisions
                early, save time and budgets.</p>

            </div><!-- /.span7 -->

            <div class="span5">

                <p>Our planning and consulting practice helps clients:</p>

                <ul>
                    <li>Identify the minimum viable product for projects and
                    startups.</li>
                    <li>Choose the most effective technologies.</li>
                    <li>Integrate with existing systems most effectively.</li>
                    <li>Form and train teams.</li>
                </ul>

            </div><!-- /.span5 -->

        </div><!-- /#strategy -->

        <div id="cms" class="tab skill">

            <div class="span5 offset2">

                <p class='lead'>Our CMS practice has designed, built, and
                extended, dozens of CMS systems, large and small. Our specialty
                is on lean, simple, and correct implementation, and our focus
                on delivering projects on time and on budget, that are accurate
                and useful.</p>

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Content Management Systems" data-original="{{ 'theme/img/logo/drupal-association-organisation-member.png' | cdn }}"
                width="35%" style="margin: 0 auto; display: block">

            </div><!-- /.span7 -->

            <div class="span5">
                <p>We've found Drupal to be the best fit for many CMS
                implementations:</p>
                <ul>
                    <li>Drupal is mature, robust, and can handle sites of any
                    size and specification.</li>
                    <li>Drupal is popular and proven. In many cases, niche or
                    custom solutions are unnecessary and hard to maintain in the
                    long-run.
                    <li>Drupal is Open Source Software, and works best with
                    open source technologies. More of your project budget goes
                    to making things work exactly how your organization
                    needs.</li>
                    <li>Drupal has a large, established, &amp; fantastic
                    user community.</li>
                </ul>

            </div><!-- /.span5 -->

        </div><!-- /#cms -->

        <div id="applications" class="tab skill">

            <div class="span5 offset2">

                <p class="lead">
                Out most common engagement is to help design and implement
                websites and applications. Our experience and processes help
                define a more targeted product and get it to market quickly and
                cost-effectively.
                </p>

                <h3>Some of the tools we use</h3>

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Zend Framework" data-original="{{ 'theme/img/logo/zf-logo-mark.png' | cdn }}"
                width="15%">

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Django" data-original="{{ 'theme/img/logo/django.jpg' | cdn }}"
                width="15%">

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Facebook" data-original="{{ 'theme/img/logo/f_logo.png' | cdn }}"
                width="10%">

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Drupal" data-original="{{ 'theme/img/logo/drupal-logo.png' | cdn }}"
                width="15%">

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Wordpress" data-original="{{ 'theme/img/logo/wordpress-logo.png' | cdn }}"
                width="20%">

            </div><!-- /.span7 -->

            <div class="span5">

                <p> Some applications we built recently: </p>

                <ul>
                    <li><strong>Facebook Apps:</strong> We've architected and
                    built Facebook contests for <a
                        href="http://www.pacsun.com/on/demandware.store/Sites-pacsun-Site/default/Default-Start">PacSun</a>
                    where fans could upload looks and vote on each other looks.</li>
                    <li><strong>Ticketing System:</strong> We helped our
                    long-time client <a href="http://www.evosus.com">Evosus</a>
                    launch a support portal for their customers, with
                    ticketing, videos, forums, and a knowledge base. The portal
                    was offered to customers through Evosus' website, but the
                    backend didn't re-invent the wheel, and leveraged exiting
                    support tools and workflows.</li>
                    <li><strong>E-publishing:</strong> We helped <a
                        href="http://www.whfreeman.com">W.H. Freeman</a> design
                    and develop an eBook publishing platform where authors and
                    editors could collaborate in the writing and editing
                    interactive university textbooks. The platform is able to
                    output books as print-production XML, student-friendly PDF,
                    or fully functional Web sites for desktops and tables.</li>
                </ul>

            </div><!-- /.span5 -->

        </div><!-- /#applications -->

        <div id="cloud" class="tab skill">

            <div class="span5 offset2">

                <p class="lead">
                We've been helping our clients use Amazon Web Services since
                2007 and helped them increase uptime and performance, while
                heavily reducing the resources spent on infrastructure.
                </p>

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Amazon Web Services Consulting Partner" data-original="{{ 'theme/img/logo/AWS_Logo_Consulting_Partner_DARK.png' | cdn }}"
                width="70%" style="margin: 0 auto; display: block">

            </div><!-- /.span5 -->

            <div class="span5">

                <p>With Amazon's cloud infrastructure:</p>

                <ul>
                    <li>You get affordable access to the same data centers,
                    used by companies like Amazon, Foursquare, and Yelp, and to
                    best-in-industry tools, such as configuration management
                    and automated deployments.</li>
                    <li>You get resources tailored to your current needs, with
                    the ability to to scale as needed, enabling the highest
                    performance at the lowest possible fixed cost.</li>
                    <li>Your product can be spread across geographic regions
                    such that a failure in a data center doesn't lead to
                    downtime.</li>
                </ul>

            </div><!-- /.span7 -->

        </div><!-- /#cloud -->

    </div>

</div>
