{% macro skill(title) %}
<div class="skill span12">
</div>
{%- endmacro %}

<div id="skill" class="pane">
    <div class="row-fluid">
        <div class="offset2 span10">
            <div class="hero-unit">
                <h1>The Skills</h1>
                <p>We are fervent believers <strong>and practitioners</strong> of using the best tool for
                the job. Our experience with platforms in PHP, JavaScript, Python, and
                Java gives our team a much deeper understanding of patterns and
                approaches to Web challenges. This technical breadth and maturity
                benefits every project.<p>
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href="#">Content Management Systems</a></li>
                    <li><a data-toggle="tab" href="#">Applications</a></li>
                    <li><a data-toggle="tab" href="#">Cloud Infrastructure</a></li>
                    <li><a data-toggle="tab" href="#">High-end design implenetations</a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.row-fluid -->
    <div class="row-fluid">
        {{ skill(title="Woot") }}
    </div>
</div>
