<div id="skill" class="pane">

    <div class="row-fluid">

        <div class="offset2 span10">
            <div class="hero-unit">
                <h1>Services</h1>
                <p class="lead">
                We make projects happen. We pride ourselves on our technical
                expertise, lean and rigorous processes, and a real commitment
                to our clients’ schedules and budgets.
                </p>
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href="#strategy">Technical Planning</a></li>
                    <li><a data-toggle="tab" href="#applications">Sites &amp; Applications</a></li>
                    <li><a data-toggle="tab" href="#cms">CMS</a></li>
                    <li><a data-toggle="tab" href="#cloud">Cloud Infrastructure</a></li>
                </ul>
            </div>
        </div>

    </div><!-- /.row-fluid -->

    <div class="row-fluid ">

        <div id="strategy" class="tab skill active">

            <div class="span5 offset2">

                <p class="lead">The smartest decisions are often those made at
                the beginning of a project. Our years of experience developing,
                launching, and evolving platforms help clients make the best
                decisions from the get-go. Good early decisions save
                frustrations, time, and budgets, and result in products with
                enduring value.</p>

            </div><!-- /.span7 -->

            <div class="span5">

                <p>Our planning and consulting practice helps clients:</p>

                <ul>
                    <li>Identify and document project requirements.</li>
                    <li>Choose the most effective technologies.</li>
                    <li>Integrate with existing systems correctly.</li>
                    <li>Recruit, assemble, and train team members.</li>
                </ul>

            </div><!-- /.span5 -->

        </div><!-- /#strategy -->

        <div id="cms" class="tab skill">

            <div class="span5 offset2">

                <p class='lead'>Our CMS practice has designed, built, and
                extended dozens of CMS systems of all sizes. Our specialty is
                on lean and correct implementation, and we're focused on
                delivering projects of lasting value, in a timely and
                cost-efficient manner.</p>

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' |
                cdn }}" title="Content Management Systems" data-original="{{
                'theme/img/logo/drupal-association-organisation-member.png' |
                cdn }}" width="35%" style="margin: 0 auto; display: block">

            </div><!-- /.span7 -->

            <div class="span5">

                <p>For many CMS implementations we use Drupal, because:</p>

                <ul>
                    <li>Drupal is mature, robust, and well-suited to
                    deployments of all sizes and specifications.</li>
                    <li>Drupal is popular and proven. In many cases, niche or
                    custom solutions are unnecessary and difficult to maintain
                    over time.
                    <li>Drupal is Open Source Software, and works well with
                    other open source technologies. This means that less
                    project budget is spent on software licenses, and more can
                    be used to implement the features you need.</li>
                    <li>Drupal has a large, established, and active user
                    community.</li>
                </ul>

            </div><!-- /.span5 -->

        </div><!-- /#cms -->

        <div id="applications" class="tab skill">

            <div class="span5 offset2">

                <p class="lead">
                Our most common engagement is to help design and implement
                websites and applications. Our experience and processes help
                define a targeted and sensible product that we can get to
                market quickly and cost-effectively.
                </p>

                <h3>A sample of the tools we use includes:</h3>

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="We build with many tools such as HTML5, Drupal, Django, Zenf Framework, Facebook Apps, Wordpress, and many more"
                data-original="{{ 'theme/img/logo/combined.png' | cdn }}"
                width="80%">

            </div><!-- /.span7 -->

            <div class="span5">

                <p> Some applications we built recently: </p>

                <ul>
                    <li><strong>Facebook Apps:</strong> We architected and
                    built Facebook contests for the clothing retailer <a
                        href="http://www.pacsun.com">PacSun</a>. Customers were
                    invited to upload their looks and vote one another’s style.</li>
                    <li><strong>Ticketing System:</strong> We helped our
                    client <a href="http://www.evosus.com">Evosus</a>
                    launch a support portal for their product. The portal
                    includes ticketing, videos, forums, and a knowledge base.
                    While the portal was part of Evosus' website for
                    end-clients, it integrates directly into existing tools
                    Evosus staff uses to manage customer support.</li>
                    <li><strong>E-publishing:</strong> We helped <a
                        href="http://www.whfreeman.com">W.H. Freeman</a> design
                    and develop an eBook publishing platform on which authors and
                    editors can collaborate to write and review interactive
                    university textbooks. After a book is complete, the
                    system can output it as a mobile-friendly interactive
                    website, as print-production XML, or as PDF files.</li>
                </ul>

            </div><!-- /.span5 -->

        </div><!-- /#applications -->

        <div id="cloud" class="tab skill">

            <div class="span5 offset2">

                <p class="lead">
                Amazon Web Services are truly revolutionary, giving businesses
                affordable access to powerful tools and capacity. Since 2007,
                we've been helping our clients take advantage of Amazon's
                offering, delivering increased uptime and performance,
                scalability and resiliency - all while reducing fixed cost on
                infrastructure.
                </p>

                <img class="lazy hidden-phone" src="{{ 'theme/img/grey.gif' | cdn }}"
                title="Amazon Web Services Consulting Partner" data-original="{{ 'theme/img/logo/AWS_Logo_Consulting_Partner_DARK2.png' | cdn }}"
                width="70%" style="margin: 0 auto; display: block">

            </div><!-- /.span5 -->

            <div class="span5">

                <p>Some of the benefits of Amazon's cloud infrastructure
                include:</p>

                <ul>
                    <li>Affordable access to the same data centers and
                    resources used by Netflix, NASA, Amazon, and Pinterest.
                    <li>Best-in-industry tools, such as automated scaling,  
                    configuration management, and automated deployments.</li>
                    <li>Resources tailored to your current needs, with the
                    ability to increase or decrease capacity automatically for
                    optimal performance and lower fixed infrastructure
                    costs.</li>
                    <li>Geographic distribution so that a failure at one
                    location doesn't have to mean downtime.</li>
                </ul>

            </div><!-- /.span7 -->

        </div><!-- /#cloud -->

    </div>

</div>
