{% macro member(name, title, bio, photos) %}
<div class="team-member {{ 'hidden-phone' if name == 'Current Opportunities' }}">
    <div class="photos">
        {# {% for photo in photos %} #}
        <img class="lazy" src="{{ 'theme/img/grey.gif' | cdn }}" data-original="{{ ('theme/img/team/' + photos.0 ) | cdn }}" width="100%">
        {# {% endfor %} #}
    </div>
    <div class="bio">
        <h3>{{ name }}</h3>
        <div class="hidden-phone">
            <h4>{{ title }}</h4>
            {{ bio }}
        </div>
    </div>
</div>
{%- endmacro %}

<div id="team" class="pane">

    <div class="row-fluid">
        <div class="offset2 span10">
            <div class="hero-unit">
                <h1>Team</h1><br>
            </div>
        </div>

    </div><!-- /.row-fluid -->

    <div class="row-fluid team-members">
            {{ member(
                name = 'Martin Rio',
                title = 'Principal',
                photos = ['mr-1.jpg'],
                bio= """
                <p>Seasoned Web architect, team lead, and client advocate.
                Thrives on making projects happen and seeing them succeed.
                Cook, pet trainer, and craft brew assessor.</p>
                """
            ) }}
            {{ member(
                name = 'Jonathan Glick',
                title = 'Senior Developer',
                photos = ['jg-1.jpg'],
                bio= """
                <p>
                Seasoned developer in many languages. Enjoys full-stack
                development. Javascript junkie. Homemade costume enthusiast.</p>
                """
            ) }}
            {{ member(
                name = 'Jon Duell',
                title = 'Senior Developer',
                photos = ['jd-1.jpg'],
                bio= """
                <p>Drupalist supreme. Vim/CLI wizard. Proud new father.</p>
                """
            ) }}
            {{ member(
                name = 'Ryan Aslett',
                title = 'Senior Developer',
                photos = ['ra-1.jpg'],
                bio= """<p>Dev-optimizing solution farmer with a penchant for
                debuggers, profilers, and inspectors. A cratedigging hound that
                cultivates tranquility with long distance cycling quests.</p>
                """
            ) }}
            {{ member(
                name = 'Anna Chapman',
                title = 'Project Manager',
                photos = ['ac-1.jpg'],
                bio= """
                <p>Project Manager extraordinaire. Communications hub and team
                wrangler. Super classy lady with an appreciation for all things
                glittery.</p>
                """
            ) }}
            {{ member(
                name = 'Evan Lovely',
                title = 'Front-End Developer',
                photos = ['el-1.jpg'],
                bio= """<p>Will turn any design comp into a sharp site.  Expert
                in responsive designg and mobile support. Yoga teacher and
                rafter. Loves a good travel story over a pint of beer.</p>"""
            ) }}
            {{ member(
                name = 'Rafa Gutierrez',
                title = 'Quality Assurance',
                photos = ['rg-1.jpg'],
                bio= """<p>Cartography wonk turned Web developer. User story
                and specifications master. Kite aerial photography
                enthusiast.</p>
                """
            ) }}
            {{ member(
                name = 'Current Opportunities',
                photos = ['you.jpg'],
                bio= """<p>We're not currently looking to fill a a specific
                position, but we're interested in hearing from like-minded
                folk, so don't be bashful and <a href='mailto:martin@ombuweb.com'>get
                    in touch</a>.</p>"""
            ) }}
    </div> <!-- .row-fluid -->

</div><!--.pane -->
