<div id="work" class="pane">

    <div class="row-fluid">
        <div class="hero-unit span10 offset2">
            <div class="">
                <h1>The Work.
                <small>Some our recent projects:</small></h1>

                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Ankrom Moisan</a></li>
                    <li><a href="#">Paramount Pictures</a></li>
                    <li><a href="#">Stand for Children</a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.row-fluid -->

    <div class="row-fluid">
        <div class="span7">
            <img src="theme/img/stand.png" /> 
        </div>
        <div class="span5">

            <h2>Stand For Children</h2>

            <p> Cras interdum condimentum turpis. Aenean nec pede vitae
            velit convallis tempor. Nullam purus ante, feugiat eget,
            faucibus nec, volutpat at, ipsum. Morbi suscipit venenatis
            magna. Suspendisse potenti. Aenean ut eros. Nullam eget sem.
            Sed in libero a eros dapibus varius. Aenean nisi. Sed a
            justo. Morbi lacus elit, accumsan vel, euismod ac, aliquam
            iaculis, eros. In porttitor dolor vitae dolor. Nullam
            vulputate faucibus ligula. Aenean consequat pede quis
            lectus. Fusce id orci. Nam pharetra. Cras nec nunc.
            </p>

            <h3>Higlights</h3>

            <ul>
                <li>
                    A <strong>Drupal</strong>, multi-site platorm.
                </li>
                <li>
                    <strong>Multilingual</strong>
                </li>
                <li>
                    Deep integration with <strong>Salesforce</strong>.
                </li>
                <li>
                    Cras at pede feugiat neque placerat imperdiet.
                    Morbi ullamcorper. Vivamus metus quam, mollis non, consequat
                    eu, bibendum et, eros.
                </li>
            </ul>

        </div>
    </div><!-- /.row-fluid -->
</div><!-- /.pane -->
