{% macro project(title, description, features) %}
<div class="project">

    <div class="span7 ">

        <div class="carousel carousel-fade slide">
            <div class="carousel-inner">
                {% for f in features %}
                <div class="{{ loop.index }} item {{ 'active' if loop.index == 1 }}">
                    <img class="lazy" src="{{ 'theme/img/grey.gif' | cdn }}"
                    data-original="{{ ('theme/img/work/' + f.image) | cdn }}"
                    width="100%">
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="span5">

        <h2>{{ title }}</h2>

        {{ description }}

        <div class="highlights hidden-phone">

            <ul class="nav nav-pills nav-stacked">
                {% for f in features %}
                <li class="{{ 'active' if loop.index == 1 }}">
                    <a href="#">{{ f.caption }}</a>
                </li>
                {% endfor %}
            </ul>

        </div><!-- /.higlights -->

    </div>


</div>
{%- endmacro %}

<div id="work" class="pane">

    <div class="row-fluid">
        <div class="span10 offset2">
            <div class="hero-unit">
                <h1>Work</h1>
            </div><!-- /.hero-unit -->
        </div>
    </div><!-- /.row-fluid -->

    <div class="row-fluid">

        <ul class="projects nav nav-pills">
            <li class="active offset2">
                <a data-toggle="tab" href="#paramount">Paramount
                    Pictures</a>
            </li>
            <li>
                <a data-toggle="tab" href="#amaa">Ankrom Moisan</a>
            </li>
            <li>
                <a data-toggle="tab" href="#stand">Stand for
                    Children</a>
            </li>
        </ul>

    </div>

    <div class="row-fluid">

        <div id="paramount" class="tab active">
            {{ project(
            title='Paramount Pictures',
            description="""
            <p>
            OMBU was honored to develop Paramount Pictures current website.
            This important site features a clean and light design implemented
            with a responsive front-end that automatically adjusts to
            smartphones, tablets, and desktop users. The site makes use of
            cutting-edge HTML5 technologies such as push-state navigation,
            video, and 3D transformations. OMBU's role in the project included
            technical planning, platform and infrastructure development, and
            the migration of Paramount’s extensive movie database. Site design
            by <a href='http://www.sisumedia.com'>Sisu</a>.</p> """,
            features=[
                {
                'caption':'Mobile-friendly frontend in HTML5',
                'image':'pmount-1.jpg',
                },
                {
                'caption':'The Paramount movie library in a live-search grid',
                'image':'pmount-2.jpg',
                },
                {
                'caption':'HTML5 video with embedded social features',
                'image':'pmount-3.jpg',
                },
            ])
            }}

        </div>

        <div id="amaa" class="tab">
            {{ project(
            title='Ankrom Moisan Architects',
            description=""" <p>Ankrom Moisan is on of the Northwest's premier
            architectural, interior, and urban design firm. Ankrom reached out
            to OMBU with an abitious site idea, and tight deadline after trying
            to work with other vendors. OMBU studied the project requirements
            and laid out a process that would allow us to launch the site on
            time, without sacrificing quality or critical features. After
            completing development, we helped Ankrom's IT staff build the
            requisite hosting infrastructure and manage the site launch. Site
            design by <a href='http://www.ankrommoisan.com'>Ankrom
                Moisan</a>.</p> """,
            features=[
                {
                'caption':'Full-width, retina-quality photography',
                'image':'amaa-1.jpg',
                },
                {
                'caption':'A modern fluid grid layout',
                'image':'amaa-2.jpg',
                },
                {
                'caption':'A user-friendly Drupal CMS',
                'image':'amaa-3.jpg',
                }
            ])
            }}
        </div>


        <div id="stand" class="tab">
            {{ project(
            title='Stand For Children',
            description="""
            <p>Stand for Children is a national advocacy group for children's
            education, with headquarters in Portland, OR. When they asked for
            assistance with a new site, we raised our hands high above our
            heads. The goal was to deploy a site that wouldn't just serve their
            current needs, but also be the foundation for an ambitious
            multi-year roll-out and keep up with the organization's rapid
            growth. Site design by <a
                href='http://www.swiftcollective.com/'>Swift
                Collective</a>.</p>
            """,
            features=[
                {
                'caption':'Robust content management for multiple state offices',
                'image':'stand-1.jpg',
                },
                {
                'caption':'A petition tool in the spirit of the White House’s "We the People".',
                'image':'stand-2b.jpg',
                },
            ])
            }}
        </div>

    </div><!-- /.row-fluid -->
</div><!-- /.pane -->
