{% macro project(title, description, features) %}
<div class="project">

    <div class="span7 ">

        <div class="carousel carousel-fade slide">
            <div class="carousel-inner">
                {% for f in features %}
                <div class="{{ loop.index }} item {{ 'active' if loop.index == 1 }}">
                    <img class="lazy" src="{{ 'theme/img/grey.gif' | cdn }}"
                    data-original="{{ ('theme/img/work/' + f.image) | cdn }}"
                    width="100%">
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="span5">

        <h2>{{ title }}</h2>

        {{ description }}

        <div class="highlights hidden-phone">

            <ul class="nav nav-pills nav-stacked">
                {% for f in features %}
                <li class="{{ 'active' if loop.index == 1 }}">
                    <a href="#">{{ f.caption }}</a>
                </li>
                {% endfor %}
            </ul>

        </div><!-- /.higlights -->

    </div>


</div>
{%- endmacro %}

<div id="work" class="pane">

    <div class="row-fluid">
        <div class="span10 offset2">
            <div class="hero-unit">
                <h1>Work</h1>
            </div><!-- /.hero-unit -->
        </div>
    </div><!-- /.row-fluid -->

    <div class="row-fluid">

        <ul class="projects nav nav-pills">
            <li class="active offset2">
                <a data-toggle="tab" href="#paramount">Paramount
                    Pictures</a>
            </li>
            <li>
                <a data-toggle="tab" href="#amaa">Ankrom Moisan</a>
            </li>
            <li>
                <a data-toggle="tab" href="#stand">Stand for
                    Children</a>
            </li>
        </ul>

    </div>

    <div class="row-fluid">

        <div id="paramount" class="tab active">
            {{ project(
            title='Paramount Pictures',
            description="""
            <p>
            OMBU had the privilege to develop Paramount Pictures current
            website, featuring a light design implemented with a single
            responsive front-end that serves smartphones, tablets, and desktop
            users. The site makes use of HTML5 technologies such as push-state
            navigation, video, and 3D transformations. OMBU's roles spread
            through technical planning, platform development, infrastructure
            development, and the migration of Paramount’s extensive movie
            database from the previous website. Design by <a
            href='http://www.sisumedia.com'>Sisu</a>.</p>
            """,
            features=[
                {
                'caption':'Mobile-friendly frontend in HTML5',
                'image':'pmount-1.png',
                },
                {
                'caption':'Live-search movie grid, driven by Apache Solr',
                'image':'pmount-2.png',
                },
                {
                'caption':'HTML5 video with social features',
                'image':'pmount-3.png',
                },
            ])
            }}

        </div>

        <div id="amaa" class="tab">
            {{ project(
            title='Ankron Moisan Architects',
            description="""
            <p>
            Ankrom Moisan is a leader in architectural, interior, and urban
            design in Portland and Seattle. They reached out to OMBU to
            implement their new site featuring high quality photography to do
            justice to their fantastic portfolio and brand. OMBU consulted on
            the technologies to used, implemented the site on a tight deadline,
            and assisted Ankrom's IT department with infrastructure setup and
            deployment. Design by <a href='http://www.ankrommoisan.com'>Ankrom
                Moisan</a>.</p>
            """,
            features=[
                {
                'caption':"A design-savvy Drupal CMS",
                'image':'amaa-1.png',
                },
                {
                'caption':'A modern grid-based fluid layout',
                'image':'amaa-1.png',
                },
                {
                'caption':'Full-screen, retina-quality photography',
                'image':'amaa-2.png',
                },
            ])
            }}
        </div>


        <div id="stand" class="tab">
            {{ project(
            title='Stand For Children',
            description="""
            <p>Stand for Children is a non-partisan advocate for American
            children's education, headquartered in Portland, OR. Stand reached
            out to OMBU to help them design and develop a Drupal Web platform
            that could support the organization's current needs, and serve as a
            springboard for implementing and ambitious technical multi-year
            roadmap. Design by <a href='http://www.swiftcollective.com/'>Swift Collective</a>.</p>
            """,
            features=[
                {
                'caption':'A multi-site Drupal CMS',
                'image':'stand-1.png',
                },
                {
                'caption':'A petition tool in the spirit of the White House’s We the People.',
                'image':'stand-1.png',
                },
                {
                'caption':'Multi-lingual capabilities',
                'image':'stand-2.png',
                },
            ])
            }}
        </div>

    </div><!-- /.row-fluid -->
</div><!-- /.pane -->
